<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../web-component-tester/browser.js"></script>
</head>
<body>
<script>
  WCT.loadSuites([
    'evt-object-properties_test.html',
    'evt-entity_test.html',
    'evt-clear_test.html'
  ]);
</script>
</body>
</html>